<footer class="footer-wrapper footer-layout3" data-bg-src="assets/img/bg/footer-bg-2.png">
        <div class="container th-container4">
            <div class="widget-area">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="home-university.html">
                                        <img class="mwu-footer-logo-img" src="assets/img/logo-white.png" alt="MWU">
                                    </a>
                                </div>
                                <p class="about-text">Excellence through Diversity (ልህቀት በብዝሀነት), MWU advances quality education, practical research, and community service.</p>
                                <div class="footer-info">
                                    <a href="https://maps.app.goo.gl/Svr22XDh4GG59a1K6">
                                        <span class="footer-info-icon"><i class="fa-solid fa-location-dot"></i></span> Bale-Robe, Oromia Regional State, Ethiopia
                                    </a>
                                    <a href="tel:+251226653092">
                                        <span class="footer-info-icon"><i class="fa-solid fa-phone"></i></span> +251-226653092 / +251-222441616
                                    </a>
                                    <a href="https://mwu.edu.et" target="_blank">
                                        <span class="footer-info-icon"><i class="fa-solid fa-globe"></i></span> mwu.edu.et
                                    </a>
                                    <a href="mailto:info@mwu.edu.et">
                                        <span class="footer-info-icon"><i class="fa-solid fa-envelope"></i></span> info@mwu.edu.et
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Useful Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About MWU</a></li>
                                    <li><a href="program.html">Academic Programs</a></li>
                                    <li><a href="campus.html">Campuses</a></li>
                                    <!-- <li><a href="students.html">Students</a></li> -->
                                    <li><a href="alumni.html">Alumni</a></li>
                                    <li><a href="research.html">Research</a></li>
                                    <li><a href="blog.html">News & Blog</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Our Programs</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="program-ug-agricultural-economics.html">Agricultural Economics</a></li>
                                    <li><a href="program-pg-msc-in-chemistry.html">MSc in Chemistry</a></li>
                                    <li><a href="program-phd-phd-in-microbiology.html">PhD in Microbiology</a></li>
                                    <li><a href="program-ug-medicine.html">Doctor of Medicine (MD)</a></li>
                                    <li><a href="program-ug-computer-science.html">BSc in Computer Science</a></li>
                                    <li><a href="program-pg-mba.html">Master of Business Administration (MBA)</a></li>
                                    <li><a href="program-phd-phd-in-public-health.html">PhD in Public Health</a></li>
                                    <li><a href="program-ug-law.html">Bachelor of Laws (LLB)</a></li>
                                    <li><a href="program-ug-nursing.html">Bachelor of Science in Nursing</a></li>
                                    <li><a href="program-ug-public-health.html">Bachelor of Science in Public Health</a></li>
                                    <li><a href="program-pg-msc-in-data-science.html">MSc in Data Science</a></li>
                                    <li><a href="program-pg-specialty-in-surgery.html">Specialty in Surgery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget th-widget-instagram footer-widget">
                            <h3 class="widget_title">Instagram</h3>
                            <div class="instagram-feeds">
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-1.png" alt="Image">
                                    <a href="https://www.instagram.com/elhallel48/p/DW0giKKjU_r/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-2.png" alt="Image">
                                    <a href="https://www.instagram.com/mekd.ess/p/DJ9DGHKt2DO/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-3.png" alt="Image">
                                    <a href="https://www.instagram.com/awoke_assefa_/p/Cu5Sm4ysLg3/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-4.png" alt="Image">
                                    <a href="https://www.instagram.com/dani_teshale/p/DIHaiqtOq9U/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-5.png" alt="Image">
                                    <a href="https://www.instagram.com/choye_m/p/DLhSfk1CryU/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-6.png" alt="Image">
                                    <a href="https://www.instagram.com/bakrii979/p/DWmGP-JDOKR/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-7.png" alt="Image">
                                    <a href="https://www.instagram.com/kirubel_workiye/p/DV6jGbPCH0u/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-8.png" alt="Image">
                                    <a href="https://www.instagram.com/ma.ya_311/p/DS7TWuyjUMi/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="insta-thumb">
                                    <img src="assets/img/widget/insta-9.png" alt="Image">
                                    <a href="https://www.instagram.com/bili_ase/p/DWGabgsjJot/" class="insta-btn popup-image"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap z-index-common">
            <div class="container th-container4">
                <div class="row justify-content-center gy-3 align-items-center">
                    <div class="col-md-7">
                        <p class="copyright-text">
                            <i class="fal fa-copyright"></i> Copyright 2026 <a href="https://www.mwu.edu.et/">Madda Walabu University</a>. All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-md-5 text-md-end text-center">
                        <div class="th-social">
                            <a href="https://web.facebook.com/MaddaWalabuUniversityPages" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://t.me/s/Maddawalabuofficial" target="_blank" rel="noopener noreferrer"><i class="fab fa-telegram-plane"></i></a>
                            <a href="https://www.linkedin.com/company/madda-walabu-university-page/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
